.mdx {
  $gap: 2rem;

  & * {
    font-family: inherit;
  }

  & > * {
    margin-bottom: $gap;
  }

  color: var(--text-secondary);
  font-size: $default-font-size;
  margin: 0 3vw;

  strong {
    color: $color-primary;
  }

  &-h1,
  &-h2,
  &-h3 {
    color: var(--color-text);
    display: flex;
    align-items: center;
  }

  &-h1 {
    font-size: $default-font-size + 1rem;
    margin: 4rem 0 1.5rem 0;
    border-bottom: 2px solid currentColor;
    padding-bottom: 1.5rem;
  }

  &-h2 {
    font-size: $default-font-size + 0.75rem;
    margin: 3rem 0 1rem 0;
    &:first-child {
      margin: 0;
    }
  }

  &-h3 {
    font-size: $default-font-size + 0.3rem;
    margin: 3rem 0 0.5rem 0rem;
    &:first-child {
      margin: 0;
    }
  }

  &-p {
    line-height: 1.6em;
    & > * {
      margin-top: $gap/2;
    }
  }

  ol {
    margin-left: 2rem;

    li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  li > p {
    margin-bottom: 0;
  }

  &-ul {
    list-style: none;
    li {
      display: flex;
      align-items: center;
    }

    li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &-pre {
    position: relative;
    background-color: rgb(34, 39, 46); /* TODO */

    button {
      color: $color-white;
      background-color: rgb(31 41 55); /* TODO */
      border: 0.2rem solid currentColor;
      border-radius: 0.5rem;
      padding: 0.2rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 3.2rem;

      &[data-copied='true'] {
        color: rgb(74 222 128);
      }

      svg {
        fill: none;
      }
    }
  }

  input[type='checkbox'] {
    width: 2rem;
    height: 2rem;
    accent-color: $color-primary;
    margin-right: 1rem;
  }

  blockquote {
    padding: 1rem 2rem;
    border-left: 4px solid $color-primary;

    p {
      margin: 0;
    }
  }

  a,
  a:link,
  a:visited {
    color: $color-primary;
    font-size: $default-font-size - 0.1rem;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: $color-primary;
    text-underline-offset: 5px;
    transition: all 0.1s;

    &:hover {
      color: darken($color-primary, 10%);
    }
  }

  a.anchor-link {
    opacity: 0.1;
    color: var(--text-secondary) !important;
    font-size: $default-font-size + 1rem;
    text-decoration: none;
    margin-right: 1rem;
    transition: opacity 0.1s;

    &:hover {
      opacity: 1;
    }
  }

  img {
    width: 100%;
    object-fit: contain;
    max-height: 40rem;
  }

  code {
    counter-reset: line;
    font-weight: 300;
    padding: 1rem;
    overflow-y: auto;
    span[data-line] {
      line-height: 1.5;
    }

    span[data-highlighted-line] {
      background-color: #c8c8ff1a;
    }

    span[data-highlighted-chars] {
    }
  }

  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }

  &-p,
  li {
    code {
      padding: 0 0.5rem;
      font-weight: 500;
      color: var(--text-highlight);
      background-color: var(--bg-highlight);
      border-radius: 0.25rem;
    }
  }
}
