.mdx {
    $gap: 2rem;

    color: var(--text-secondary);
    font-size: $default-font-size;
    margin: 0 3vw;

    &-h1,&-h2 {
        color: var(--color-text);
    }

    &-h1 {
        font-size: $default-font-size + .8rem;
    }

    &-h2 {
        font-size: $default-font-size + .4rem;
        margin: 4rem 0 1rem 0;
    }

    &-p {
        margin-bottom: $gap;
        line-height: 1.6em;

        code {
            font-weight: 1000;
        }
    }

    &-ul {

    }

    blockquote {
        padding: 1rem 2rem;
        border-left: 4px solid $color-primary;
        margin-bottom: $gap;

        p {
            margin: 0;
        }
    }

    a, a:link, a:visited {
        color: $color-primary;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: transparent;
        text-underline-offset: 5px;
        transition: all .2s;
    }

    a:hover {
        text-decoration-color: $color-primary;
    }

    img {
        width: 100%;
        margin-bottom: $gap;
        // object-fit: cover;
    }

    code {
        padding: 1rem;
        margin-bottom: $gap;
        span[data-line] {
            line-height: 1.5;
        }
        span[data-highlighted-chars] { }
    }
}