.section-box {
    position: relative;
    border-left: 3px solid var(--color-text);
    padding: 2rem;
    font-size: $default-font-size;

    h1 {
        width: 100%;
        position: absolute;
        transform: translate(0, -5rem);
        font-size: 3rem;
    }

    &[data-direction="right"] {
        text-align: right;
        border-left: none;
        border-right: 3px solid var(--color-text);
        
        h1 {
            transform: translate(-4rem, -5rem);
        }
    }
}