
.section-box {
    $box-padding: 2rem;
    $border-width: 3px;

    position: relative;
    border-left: $border-width solid var(--color-text);
    padding: $box-padding;
    font-size: $default-font-size;

    h1 {
        width: 100%;
        position: absolute;
        transform: translate(0, -5rem);
        font-size: 3rem;
    }

    &[data-direction="right"] {
        text-align: right;
        border-left: none;
        border-right: $border-width solid var(--color-text);
        
        h1 {
            transform: translate(-4rem, -5rem);
        }
    }

    &[data-direction="center"] {
        padding: 0;
        text-align: center;
        border: none;
        
        h1 {
            transform: translate(-$box-padding, -5rem);
        }
    }
}