*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    transition: all .2s;
    margin: 0 auto;
    width: 80vw;
    max-width: 125rem;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}