.w-25 {
    width: 25%;
}

.h-25 {
    height: 25%;
}

.d-flex {
    display: flex;
} 

.flex-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.mt-sm { margin-top: .5rem; }
.mt-md { margin-top: 1rem; }

.mb-sm { margin-bottom: .5rem; }
.mb-md { margin-bottom: 1rem; }

.ml-sm { margin-left: .5rem; }

.object-cover {
    object-fit: cover;
}

.object-contain {
    object-fit: contain;
}

.overflow-hidden {
    overflow: hidden;
}

.heading {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
}

.heading-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}