.about {
<<<<<<< HEAD
    padding: 1rem 0;
    margin: 0 auto;
    max-width: 90%;

    @media only screen and (max-width: 37.5em) { 

    }; 

    @media only screen and (max-width: 56.25em) {

    };//900px
    
    @media only screen and (max-width: 75em) { 

    };//1200px
    
    @media only screen and (min-width: 112.5em) { 
        // width: 80vw;
    };//1800

    &--main {

        &__heading {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        &__body {
            display: flex;
            align-items: center;
=======
    margin: 0 auto;
    margin: 0 5vw;
    font-size: $default-font-size - .2rem;

    @media only screen and (max-width: 37.5em) { 

    };

    & > *:not(:last-child) {
        margin: 3rem 0;
    }

    &--main {
        &__body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
>>>>>>> about

            .profile {
                flex-shrink: 0;
            }

            ul {
                flex-grow: 1;
                list-style: none;
<<<<<<< HEAD
                font-size: 1.3rem;
                padding: 2rem 0;
            }

            // li {
            //     display: flex;
            // };

=======
                padding: 2rem 0;
            }

>>>>>>> about
            li:not(:last-child) {
                margin-bottom: 1rem;
            }

            li span {
                display: inline-block;
<<<<<<< HEAD
=======
                letter-spacing: 0px;
>>>>>>> about
            }

            li > span {
                display: inline-block;
                width: 6rem;
                font-weight: bold;
            }
<<<<<<< HEAD
=======

            li * {
                letter-spacing: 1px;
            }

            a,
            a:link,
            a:visited {
                color: currentColor;
                text-decoration: none;
            }

            a:hover {
                color: $color-primary;
                transition: color $default-transition-time;
            }
        }
    }

    &__skill {
        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
        }
    }

    &__career {
        &-company {
            display: flex;

            &-description {
                white-space: pre-line;
                letter-spacing: .5px;
                padding: .9rem 2.7rem;
            }
        }

        ul {
            list-style: none;
        }

        li:not(:last-child) {
            margin-bottom: .75rem;
>>>>>>> about
        }
    }
}