.blog {
    font-size: $default-font-size;
}

ul.blog-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2rem;
    font-weight: 450;
    width: 100%;
    display: flex;
    gap: 2rem;
    list-style: none;

    @media only screen and (max-width: $bp-medium) {
        gap: 1rem;
        padding-bottom: 1.5rem;
    }

    li {
        cursor: pointer;
        
        a,
        a:link,
        a:visited {
            color: var(--color-text);
        }
    }
}