// COLORS
$color-primary: #F27F1A;
$color-primary-light: light($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);


$color-grey: #1f2028;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

body {
    --color-text: #{$color-black};
    --color-black: #000;
    --color-white: #000;
}

body[data-theme="light"] {
    color: $color-black;
    background-color: $color-white;
    --color-text: #{$color-black};
    --color-primary: #{$color-primary};
    --color-red: #ff4545;
    --color-blue: #36a3ff;
    --color-yellow: #a08600;
    --bg-secondary: #f7f7f7;
    --bg-inverse: #{$color-black};
    --text-secondary: #535661;
    --text-inverse: #{$color-white};
    --border-secondary: #e6e9ee;
}
  
body[data-theme="dark"] {
    color: $color-white;
    background-color: $color-grey;
    --color-text: #{$color-white};
    --color-primary: #{$color-primary};
    --color-blue: #36a3ff;
    --color-red: #ff4545;
    --color-yellow: #ffd644;
    --bg-secondary: #2e3039;
    --bg-inverse: #{$color-white};
    --text-secondary: #a9adc1;
    --text-inverse: #{$color-black};
    --border-secondary: #4b4c53;
}


// FONT
$default-font-size: 1.6rem;

// TRANSITION
$default-transition-time: .1s;