// COLORS
$color-primary: #F27F1A;
$color-primary-light: #FFBA7D;

$color-secondary: #ffd644;

$color-grey: #1f2028;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

body {
    --color-text: #{$color-black};
    --color-black: #000;
    --color-white: #000;
}

body[data-theme="light"] {
    color: $color-black;
    background-color: $color-white;
    --color-text: #{$color-black};
    --color-primary: #{$color-primary};
    --color-secondary: #{$color-secondary};

    --color-red: #ff4545;
    --color-blue: #36a3ff;
    --color-yellow: #a08600;
}
  
body[data-theme="dark"] {
    color: $color-white;
    background-color: $color-grey;
    --color-text: #{$color-white};
    --color-primary: #{$color-primary};
    --color-secondary: #{$color-secondary};

    --color-blue: #36a3ff;
    --color-red: #ff4545;
    --color-yellow: #ffd644;
}


// FONT
$default-font-size: 1.6rem;

// TRANSITION
$default-transition-time: .1s;