.header {
    width: 85vw;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 6rem;
    }

    &__nav {}

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        list-style: none;
        
        a,
        a:link,
        a:visited,
        a:active {
            text-decoration: none;
        }
    }

    &__nav-list-item {
        font-size: $default-font-size;
        color: var(--color-text);
        text-decoration: none;

        &:hover {
            color: $color-primary;
            transition: color $default-transition-time;
        }

        & svg {
            width: 3rem;
            height: 3rem;
            &:hover {
                fill: $color-primary;
                transition: fill $default-transition-time;
            }
        }
    }
    
    &__nav-list-item--selected {
        color: $color-primary !important;
    }
}